* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(94, 191, 232) ; 
  font-family: sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  aligh-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.5rem ;
}

.overlay {
  background-color: rgb(46, 42, 42);
  padding: 2em;
  border-radius: 1rem;
  width: 50rem;
  height: 20rem;
  justify-content: space-evenly;
  margin-top: 63px;
}

nav u1 {
  list-style-type: none;
  display: inline-flex;
  gap: 1rem;
  color:lightgrey;
}

.inline {
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
  align-items: center;
}


.link-button {
  background-color: rgb(255, 72, 0);
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 2rem;
  font-weight: 600;
}

.image-container {
  padding: 2rem;
}

.justify-center {
  justify-content: center;
}

.text-container h1 {
  margin-bottom: 0.5rem;
}

.text-container p:nth-child(3), .text-container p:nth-child(4) {
  margin-bottom: 1rem;
}

.bg-secondary {
  background-color: rgb(28, 201, 65);
}

.bg-primary {
  background-color: rgb(220, 66, 66);
}

.text-gray {
  color: lightgray;
  font-size: 0.9rem;
}